**.DS_Store
**/build
**/devel
**/cmake-build-debug
**/.idea
**.bag
**/.catkin_workspace
**.csv
**.bin
**.zip
**.ply
**.vscode

/src/fsm_ctrl/fsm_ctrl/src/NMPC_Controller.cpp
/src/fsm_ctrl/fsm_ctrl/include/fsm_ctrl/NMPC_Controller.hpp
/src/fsm_ctrl/fsm_ctrl/launch/single.launch